
  

body{
    background-color: rgb(158, 151, 206);
    color: white;
    font-size: 25px;

    
    

   
}
.lia{
    background-color: black;
   
}
.fyri{
    background-image: url(QGlUJ1WfgfQrl27vhUJDfuhnPzvyF8yGbHi4tWQB.webp);
    background-repeat: no-repeat;
    background-color: rgb(50, 114, 235);
    width: 1100px;
    border-radius: 20px;
    

}



